

StatusCode        : 200
StatusDescription : 
Content           : -- Job Scraper Database Dump
                    -- Generated on Fri Aug 15 11:07:32 UTC 2025
                    
                    CREATE TABLE IF NOT EXISTS companies (
                      id BIGSERIAL PRIMARY KEY,
                      title VARCHAR(255) UNIQUE NOT NULL,
                      website_url VARCHA...
RawContent        : HTTP/1.1 200 
                    Vary: Origin,Access-Control-Request-Method,Access-Control-Request-Headers
                    Keep-Alive: timeout=60
                    Connection: keep-alive
                    Content-Length: 55111
                    Content-Type: text/plain;charset=UTF-8...
Forms             : {}
Headers           : {[Vary, Origin,Access-Control-Request-Method,Access-Control-Request-Headers], [Keep-Alive, timeout=
                    60], [Connection, keep-alive], [Content-Length, 55111]...}
Images            : {}
InputFields       : {}
Links             : {}
ParsedHtml        : System.__ComObject
RawContentLength  : 55111



